.profileDropdownWrapper {
    display: none;
    position: absolute;
    background-color: #212121cc;
    padding: 12 px 16px;
    z-index: 10;
}

.profileWrapper:hover .profileDropdownWrapper {
    display: block;
}

.profileDropdownWrapper span {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    color: bisque;
}